body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  background: rgba(252,70,107,1);
  background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.534);
  height: 80px;
  padding: 0 75px;
  margin: 0px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.nav-buttons ul li {
  list-style-type: none;
  display: inline;
  padding-left: 16px;
}

header .nav-buttons ul li a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}


header .nav-buttons ul li a:hover {
  text-decoration: underline;
  color: rgba(63,94,251,1);
 }


.banner {
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 75px;
}

.banner-left h1 {
  font-size: 36px;
  font-weight: 700;
  color: #f9faf8;
}

.banner-left p {
  font-size: 14px;
  color: #e5e7eb;
  width: 80%;
}

.banner-left button {
  background-color: rgba(63,94,251,1);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: #f9faf8;
  font-size: 16px;
}

.banner-left button:hover {
  background-color: rgba(252,70,107,1);
  cursor: pointer;
  color: #f9faf8;
}

.banner-left button:active {
  background-color: rgba(252,70,107,1);
  cursor: grabbing;
  color: #f9faf8;
}

.banner-right img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}



.content {
  background-color: #f9faf8;
  margin: 0px;
  padding: 16px 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.card {
  width:150px;
  transition: transform 0.2s;
}
.card-img {
  width: 150px;
  height: 150px;
  border: 3px rgba(63,94,251,1) solid;
  border-radius: 10px;
  
}

.card:hover {
  transform: scale(1.1);
}

.card-img > p {
  margin-top: 60px;
  text-align: center;
  font-size: 8pt;
  color:#777;
}

.card-subtitle {
  text-align: center;
  font-size: 14px;
  color: #555555;
}

.feature {
  margin: 0px;
  padding: 16px 75px;
}

blockquote {
  font-size: 24px;
  font-weight: light;
  font-style: italic;
  color: #f9faf8;
}

p.quote-attr {
  color: #f9faf8;
  text-align: end;
  font-weight: bold;
}

.cta {
  margin: 30px;
  background-color: rgba(63,94,251,1);
  border-radius: 15px;
  padding: 32px;
  color: #f9faf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.cta button {
  background-color: rgba(63,94,251,1);
  border: 2px #f9faf8 solid;
  border-radius: 10px;
  padding: 10px 20px;
  color: #f9faf8;
  font-size: 16px;
  margin: 0px 16px;
}

.cta button:hover {
  background-color: rgba(252,70,107,1);
  cursor: pointer;
  color: #f9faf8;
}

.cta button:active {
  background-color: #f9faf8;
  cursor: grabbing;
  color: rgba(252,70,107,1);
}

footer {
  flex: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 16px 75px;
  color: #e5e7eb;
  font-size: 12px;
}

footer a {
  color: rgb(143, 161, 255)
}

footer a:hover {
  color: rgb(210, 217, 255)
}